
$padding: 1.3rem;

$colors: (
  primary:#f6b93b,
  primary-variant: #e58e26,
  secondary:#eec68a,
  background:#EE5A24,
  another: #e5b0a4,
  );

  @function color($color-name) {
    @return 
    map-get($colors, $color-name);
  }
