
$padding: 1.3rem;

$colors: (
  primary:#f6b93b,
  primary-variant: #f08141,
  secondary:#eec68a,
  background:#EE5A24,
  secondary-variant: #44352b,
  );

  @function color($color-name) {
    @return 
    map-get($colors, $color-name);
  }
