@import "./_variables.scss";
@import "./_header.scss";

html {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
  padding: padding;
}

body {
background-color: color(background);
}

  .flex-parent {  
  
  background-color: color(primary);
  
}

.flex-child{
background-color: color(primary-variant);
}


#header-text {
color: color(secondary);
font-family: 'Lobster', cursive;
}

#flex-grow-1 {
height: 40rem;
width: 190rem;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}

#photo-1 {
height: 30rem;
}

#photo-2 {
  height: 30rem;
  }

#photo-3 {
  height: 30rem;
  }
     

h1{
font-size: 5rem;
}

h2 {
font-size: 2rem;
}

/*#flex-grow-1 {


}
*/ 

