@import "./_variables.scss";
@import "./_header.scss";

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background-color: color(primary);
color: color(secondary);


} 

  /*.flex-parent {
    
    display: flex;
    height: 60vh;
    justify-content: space-evenly;
    flex-direction: row;
}
  }
*/

/*.header-text {


 }
*/
