@import "./_variables.scss";
@import "./_header.scss";

html {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
  padding: padding;
}

body {
background-color: color(background);
}

  .flex-parent-1 {  
  
  background-color: color(primary);

}

.flex-parent-2 {  
  position: relative;
  margin: 0 auto;
  top: 10rem;
  background-color: color(secondary);
  
}


.flex-child-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.flex-child-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.flex-child-3 {
  background-color: white ;
  position: relative;
  margin: 0 auto;
  top: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: color(primary-varient);
  font-size: 3rem;
letter-spacing: .4rem;

}


#header-text {
color: color(secondary);
font-family: 'Lobster', cursive;
}

#flex-grow-1 {
height: 40rem;
width: 190rem;

}


#flex-grow-2 {
  height: 80rem;
  width: 190rem;
  
  }
  

  #flex-grow-3 {
    height: 20rem;
    width: 60rem;
    
    }
    
  

#photo-1 {
height: 30rem;
}

#photo-2 {
  height: 30rem;
  }

#photo-3 {
  height: 30rem;
  }
     

h1{
font-size: 5rem;
}

h2 {
font-size: 2rem;
}



