 
/*$color-squash-blossom: #f6b93b;
$color-carrot-orange: #e58e26;
*/
$padding: 1.3rem;
$colors: (
  primary: #f6b93b
  primary-variant: #e58e26
  secondary:
  background:
  
  
  );

/*$colors: (
  primary: rgb(57, 241, 112));

@function color($color-name) {
  @return 
  map-get($colors, $color-name);
}
*/